[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[[source]]
url = "https://pypi.17bdc.com/simple"
verify_ssl = true
name = "17bdc"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachext = ">=0.2.2"
celery = ">=4.2"
click = "*"
Flask = ">=1.0"
mysqlclient = "*"
peewee = ">=3.1.7"
peeweext = ">=0.7.0"
raven = ">=6.3"
redis = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-mypy = "*"
isort = {version = "*", extras=["pipfile"]}
mypy = ">=0.620"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
seed-isort-config = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true